    @import 'main.scss';
    //nav
    nav {
        padding: 0 $bodyMargin;
        display: flex;
        height: 76px;
        justify-content: space-between;
        align-items: center;
        .mini {
            cursor: pointer;
            display: none;
        }
        .logo {
            img {
                width: 150px;
                height: auto;
            }
        }
        .right {
            font-size: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style-type: none;
                li {
                    cursor: pointer;
                    padding: 0 17px;
                    line-height: 76px;
                    &:hover {
                        @include active;
                    }
                    &.active {
                        @include active;
                    }
                }
            }
            .fa-search {
                margin: 0 32px 0 16px;
                cursor: pointer;
            }
            button {
                @include button;
                i {
                    margin-left: 10px;
                }
            }
        }
    }
    
    //header
    header {
        padding: 96px 176px 96px $bodyMargin;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            width: 400px;
            font-weight: bold;
            font-size: 64px;
            line-height: 76px;
            letter-spacing: 0.006em;
        }
        .description {
            width: 368px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            img {
                width: 48px;
                height: 48px;
                margin-bottom: 16px;
            }
            span {
                display: inline-block;
                color: #575757;
                font-size: 15px;
                line-height: 24px;
            }
        }
    }
    
    //category
    .category {
        height: 76px;
        text-align: center;
        border-bottom: 2px solid $secondaryColor;
        display: flex;
        justify-content: center;
        ul {
            list-style-type: none;
            display: flex;
            flex-wrap: nowrap;
            overflow-y: hidden;
            overflow-x: auto;
            /* Hide scrollbar for Chrome, Safari and Opera */
            &::-webkit-scrollbar {
                display: none;
            }
            /* Hide scrollbar for IE, Edge and Firefox */
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
            li {
                padding: 0 17px;
                height: 76px;
                line-height: 76px;
                font-weight: 500;
                font-size: 15px;
                cursor: pointer;
                &.active {
                    @include active;
                    border-bottom: 2px solid black;
                }
                &:hover {
                    border-bottom: 2px solid black;
                    @include active;
                }
            }
        }
    }
    
    //methods 
    .all_methods {
        .method {
            padding: 77px $bodyMargin;
            display: flex;
            border-bottom: 2px solid $secondaryColor;
            justify-content: space-between;
            align-items: center;
            &:nth-of-type(even) {
                background-color: #EFF7FF;
                .method_img {
                    order: -1;
                    margin-right: 232px;
                    margin-left: 0;
                }
            }
            &_description {
                h2 {
                    font-size: 40px;
                    line-height: 50px;
                    font-weight: 700;
                }
                span {
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: 0.4px;
                    color: #616161;
                    display: inline-block;
                    margin: 28px 0 32px 0;
                }
                a {
                    display: block;
                    color: $primaryColor;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 24px;
                    img {
                        margin-left: 6px;
                        vertical-align: middle;
                    }
                }
            }
            &_img {
                height: 268px;
                width: 268px;
                margin-left: 232px;
                object-fit: cover;
            }
        }
    }
    
    //start
    .start {
        padding: 72px 0;
        text-align: center;
        h4 {
            margin-bottom: 32px;
            font-weight: 300;
            font-size: 22px;
            line-height: 32px;
        }
        button {
            @include button;
        }
    }
    
    //social
    .social {
        text-align: center;
        background-color: #EAFBFF;
        padding: 72px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            margin: 0 18px;
            cursor: pointer;
        }
    }
    
    //footer
    footer {
        padding: 72px $bodyMargin;
        display: flex;
        justify-content: center;
        align-items: center;
        .left {
            margin-right: 232px;
            img {
                width: 107px;
            }
            span {
                font-weight: 300;
                font-size: 15px;
                line-height: 24px;
                letter-spacing: 0.003em;
                margin-top: 24px;
                color: #6E6E6E;
                display: inline-block;
            }
        }
        .right {
            span {
                font-weight: normal;
                font-size: 15px;
                line-height: 24px;
                letter-spacing: 0.003em;
                display: inline-block;
                margin-bottom: 20px;
            }
            .subscribe {
                display: flex;
                input {
                    padding: 12px 16px;
                    border: 1px solid #CBCBCB;
                    box-sizing: border-box;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04);
                    border-radius: 4px;
                    &::placeholder {
                        color: #616161;
                        font-weight: 300;
                        font-size: 15px;
                        line-height: 24px;
                    }
                }
                button {
                    padding: 8px 24px;
                    margin-left: 32px;
                    width: 168px;
                    background-color: #fff;
                    border: 1px solid #8D8D8D;
                    border-radius: 4px;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 24px;
                }
            }
        }
    }
    
    @media (max-width:1250px) {
        nav {
            padding: 0 $bodyLargeMargin;
        }
        header {
            padding: 96px 149px 96px $bodyLargeMargin;
        }
        .all_methods {
            .method {
                padding: 77px $bodyLargeMargin;
                &:nth-of-type(even) {
                    .method_img {
                        margin-right: 124px;
                        margin-left: 0;
                    }
                }
                &_img {
                    margin-left: 232px;
                }
            }
        }
        footer {
            padding: 72px $bodyLargeMargin;
        }
    }
    
    @media (max-width:1015px) {
        nav {
            padding: 0 16px;
            .mini {
                display: inline;
            }
            .logo {
                img {
                    width: 107px;
                }
            }
            .right {
                display: none;
            }
        }
        header {
            padding: 56px $bodyMediumMargin;
            flex-direction: column;
            h1 {
                width: auto;
                font-size: 40px;
                line-height: 50px;
                margin-bottom: 20px;
            }
            .description {
                width: auto;
                img {
                    display: none;
                }
            }
        }
        .all_methods {
            .method {
                padding: 56px $bodyMediumMargin;
                flex-direction: column;
                text-align: center;
                &_img {
                    height: 120px;
                    width: 120px;
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                    margin-bottom: 48px;
                    order: -1;
                }
                &_description {
                    h2 {
                        font-size: 28px;
                        line-height: 36px;
                    }
                    span {
                        font-size: 18px;
                        line-height: 26px;
                    }
                }
            }
        }
        footer {
            padding: 56px $bodyMediumMargin;
            flex-direction: column;
            text-align: center;
            .left {
                margin-right: 0;
                span {
                    margin-top: 22px;
                    margin-bottom: 16px;
                }
            }
            .right {
                span {
                    margin-bottom: 16px;
                }
                .subscribe {
                    flex-direction: column;
                    input {
                        width: 352px;
                    }
                    button {
                        width: 192px;
                        margin-top: 24px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }
    
    @media (max-width:576px) {
        header {
            padding: 48px $bodySmallMargin;
            text-align: center;
            h1 {
                font-size: 28px;
                line-height: 36px;
            }
        }
        .all_methods {
            .method {
                padding: 48px $bodySmallMargin;
                &_img {
                    margin-bottom: 44px;
                }
                &_description {
                    h2 {
                        font-size: 22px;
                        line-height: 28px;
                    }
                    span {
                        font-size: 15px;
                        line-height: 24px;
                    }
                    a {
                        text-align: left;
                    }
                }
            }
        }
        footer {
            .right {
                input {
                    width: 288px;
                }
            }
        }
    }